{{- $id := .Get "id" | default "p5-canvas-container" -}}

<div id="{{ $id }}" style="text-align: center; margin-top: 20px;"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script>
  new p5((p) => {
    let nValue = p.noise(100);
    let circleSize = 45;
    var xoff2 = 1000;
    let startVal = 0;

    p.setup = function() {
      p.createCanvas(600, 400);
      p.pixelDensity(1);
      
    };

    p.draw = function() 
    {
      p.loadPixels();

      var xoff = startVal;
      
      for (var x = 0; x < p.width; x++) 
      {
        for (var y = 0; y < p.height; y++) 
        {
          var index = (x + y * p.width) * 4;
          var r = p.random(255);

          p.pixels[index] = r;
          p.pixels[index + 1] = r;
          p.pixels[index + 2] = r;
          p.pixels[index + 3] = 255;
        }
      }

      p.updatePixels();

      // startVal += 0.02;
    };

  }, '{{ $id }}');
</script>

<br><br>