<!-- layouts/shortcodes/draw1.html -->

<!-- <div id="output">output</div> -->

<div id="p5-canvas-container" style="text-align: center; margin-top: 20px;"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script>

  new p5((p) => {

    let nValue = p.noise(100);

    // const outputDiv = document.getElementById("output");
    // outputDiv.innerHTML = nValue;

    let walker;
    let circleSize = 45;

    //var xoff = 0;
    var xoff2 = 1000;

    let startVal = 0;

    p.setup = function() {
      p.createCanvas(600, 400);
      walker = new Walker(p);
      p.background(220);
      p.rect(100, 50, 25, 75);

    };


    p.draw = function() 
    {
      p.background(220);
      // var x = p.map(p.noise(xoff), 0, 1, 0, p.width);
      // var y = p.map(p.noise(xoff2), 0, 1, 0, p.height);

      // xoff += 0.02;
      // xoff2 += 0.02;

      // p.ellipse(x, y, 24, 24);

      //walker.step();
      //walker.show();
      
      p.stroke(230, 10, 5);
      p.noFill();

      p.beginShape();

      var xoff = startVal;
      
      for (var x = 0; x < p.width; x++)
      {
        p.stroke(30);

        var y = p.map(p.noise(xoff), 0, 1, 0, p.height);
        p.vertex(x, y);

        xoff += 0.02;
      }

      p.endShape();

      //p.noLoop();

      startVal += 0.02;

    };

    class Walker
    {
      constructor(p)
      {
        this.p = p;
        this.tx = 0;
        this.ty = 10000;
        this.x = 0;
        this.y = 0;
      }

      step()
      {
         //{!2} x- and y-position mapped from noise
          this.x = this.p.map(this.p.noise(this.tx), 0, 1, 0, this.p.width);
          this.y = this.p.map(this.p.noise(this.ty), 0, 1, 0, this.p.height);

          // Move forward through "time."
          this.tx += 0.01;
          this.ty += 0.01;
      }

      show()
      {
          circleSize = p.random(30, 60);

          this.p.strokeWeight(2);
          this.p.fill(127, 0, 0);
          this.p.stroke(0);
          this.p.circle(this.x, this.y, circleSize);
      }
    }


  }, 'p5-canvas-container');


  
</script>